@import "../../../scss/variables";

footer {
    background-color: $mint;
    margin: 0 -9.6rem;
    padding: 4.9rem 9.6rem;
    display: flex;
    flex-direction: column;
    gap: 9.6rem;
}

.footer {
    &__wrapper {
        display: flex;
        gap: 60rem;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        align-items: start;
        & p {
            width: 16rem;
        }
    }

    &__socials {
        display: flex;
        gap: 2.4rem;
        & a img {
            border: 1px solid $gray;
            padding: 1.4rem;
            border-radius: 50%;
            width: 4.8rem;
            height: 4.8rem;
        }
    }

    &__right {
        display: flex;
        gap: 4.8rem;
        width: fit-content;
    }

    &__link {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        width: auto;
    }
}
