@import "../../../../scss/variables";

.best {
    display: flex;
    gap: 5.4rem;
    padding-top: 9.6rem;
    position: relative;

    &__description {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.2rem;

        & button {
            margin-top: 1.2rem;
            display: flex;
        }
    }

    &__cards {
        display: flex;
        gap: 4.8rem;
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        align-items: start;
        position: relative;

        &:hover .cart__icon {
            display: inline-block;
            transition: all 0.5s;
        }

        &:hover .best__image {
            filter: saturate(2);
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
            align-items: start;
        }

        &__details {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__icon {
            cursor: pointer;
            &:hover {
                filter: invert(49%) sepia(1%) saturate(2408%) hue-rotate(324deg) brightness(103%) contrast(85%);
            }
        }

        & h5 {
            padding-top: 0.5rem;
            font-size: 1.8rem;
            font-weight: $fw-medium;
        }

        & p {
            color: $gray;
            font-weight: $fw-medium;
            font-size: 1.8rem;
        }

        &__fav {
            position: absolute;
            right: 1rem;
            top: 1rem;
            cursor: pointer;
            z-index: 3;
            filter: invert(19%) sepia(46%) saturate(6984%) hue-rotate(341deg) brightness(80%) contrast(90%);
        }
    }

    &__popup {
        padding: 1.2rem 2.4rem;
        position: fixed;
        bottom: 2rem;
        right: calc((100vw - 1440px) / 2);
        width: 36rem;
        height: 20rem;
        background-color: $white;
        z-index: 99;
        transition: all 1s ease-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid $mint;

        &__wrapper {
            display: flex;
            gap: 0.8rem;
        }

        & h4 {
            border-bottom: 2px solid $mint;
            padding-bottom: 1rem;
            font-weight: $fw-medium;
        }

        &__products {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            padding: 1.2rem;
            font-size: 1.2rem;
        }

        &__product {
            display: flex;
            justify-content: space-between;

            & span {
                color: $gray;
            }
        }

        & button {
            border: none;
            background-color: $mint;
            width: 100%;
            padding: 1.2rem 0;
            cursor: pointer;

            &:hover {
                font-weight: $fw-bold;
            }
        }
    }

    &__login {
        height: 30rem;
        width: 50rem;
        background-color: $white;
        position: fixed;
        left: calc(100vw / 3);
        top: 25rem;
        z-index: 99;
        padding: 4rem 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        border: 1px solid $gray;

        & h4 {
            font-size: 2rem;
            color: $black;
            font-weight: $fw-medium;
        }

        & p {
            font-size: 1.6rem;
            color: $gray;
            text-align: center;
        }

        &__continue {
            cursor: pointer;
            &:hover {
                font-weight: bold;
            }
        }

        &__close {
            position: absolute;
            top: 0;
            right: 1.4rem;
            font-size: 1rem;
            cursor: pointer;
        }

        & button {
            padding: 1.6rem 3.2rem;
            border: none;
            text-transform: uppercase;
            cursor: pointer;
            background-color: $mint;

            &:hover {
                background-color: rgb(218, 218, 218);
                transition: all 0.5s ease;
            }
        }
    }
}
