@import "../../scss/variables";

.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    gap: 2rem;
    padding: 15rem;

    &__check {
        height: 20rem;
        filter: invert(85%) sepia(16%) saturate(236%) hue-rotate(131deg) brightness(104%) contrast(82%);
    }

    &__text {
        font-size: 1.6rem;
        text-align: center;
    }

    & button {
        display: flex;
        align-items: center;
    }
}
